---
layout: default
image_1: '/img/wedding/boutinerre.png'
image_2: '/img/wedding/wedding_party_2.png'
image_3: '/img/wedding/wedding_party_1.png'
logo: '/img/logo.png'
---

<!-- Page Header -->
  <header class="masthead">
    <div class="container">
      <div class="row">
        <div class="text-black text-primary col-lg-8 col-md-10 mx-auto">
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-3 col-md-3 col-sm-8 mt-3">
        <img class="basic-image outline-image" src="{{ '/img/logo.png' | prepend: site.baseurl | replace: '//', '/' }}" alt="Flowers1">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-sm-12">
        <a target="_blank" href="{{ '/img/wedding/boutinerre.png' | prepend: site.baseurl | replace: '//', '/' }}">
          <img class="basic-image outline-image" src="{{ '/img/wedding/boutinerre.png' | prepend: site.baseurl | replace: '//', '/' }}" alt="Flowers1">
      </a>
      </div>
      <div class="col-lg-4 d-none d-md-block">
        <a target="_blank" href="{{ '/img/wedding/wedding_party_2.png' | prepend: site.baseurl | replace: '//', '/' }}">
          <img class="basic-image outline-image" src="{{ '/img/wedding/wedding_party_2.png' | prepend: site.baseurl | replace: '//', '/' }}" alt="Flowers2">
      </a>
      </div>
      <div class="col-lg-4 d-none d-md-block">
        <a target="_blank" href="{{ '/img/wedding/wedding_party.png' | prepend: site.baseurl | replace: '//', '/' }}">
          <img class="basic-image outline-image" src="{{ '/img/wedding/wedding_party.png' | prepend: site.baseurl | replace: '//', '/' }}" alt="Flowers3">
      </a>
      </div>
    </div>
    <div class="row jusitfy-content-center text-center">
      <div class="col-sm-12 col-md-12 col-lg-3 py-3">
        <a href="{{ '/pages/wedding' | prepend: site.baseurl | replace: '//', '/' }}">
          <img class="basic-image outline-image" src="{{ '/img/assets/weddings.png' | prepend: site.baseurl | replace: '//', '/' }}" alt="Weddings">
        </a>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-3 py-3">
        <a href="{{ '/pages/lobby' | prepend: site.baseurl | replace: '//', '/' }}">
          <img class="basic-image outline-image" src="{{ '/img/assets/lobby_flowers.png' | prepend: site.baseurl | replace: '//', '/' }}" alt="lobby Flowers">
        </a>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-3 py-3">
        <a href="{{ '/pages/dances' | prepend: site.baseurl | replace: '//', '/' }}">
          <img class="basic-image outline-image" src="{{ '/img/assets/dance_parties.png' | prepend: site.baseurl | replace: '//', '/' }}" alt="Dances and Parties">
        </a>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-3 py-3">
        <a href="{{ '/pages/funerals' | prepend: site.baseurl | replace: '//', '/' }}">
          <img class="basic-image outline-image" src="{{ '/img/assets/funerals_condolences.png' | prepend: site.baseurl | replace: '//', '/' }}" alt="Funerals and Condolences">
        </a>
      </div>
    </div>
  </div>